body{
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    padding: 2em;
    background-color:#fff;
    line-height: 3em;
}
.container{
    margin: 50px;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
}
h1{
    text-align: center;
    color: #474143;
}
fieldset{
    padding: 2em;
    margin: 20px 50px 20px;
    background-color: lightgrey;
    border: 1px solid #ccc;
    border-radius: 1em;
    color: #474143;
}
button:hover{
    background: orangered;
}
button{
    margin-left: 50px;
   border-radius: 1em;
   border: 1px solid #ccc;
   padding: 1em 1em;
   background-color: #474143;
   color: white;

}
#todo-list{
    list-style: none;
}
#todo-list li{
    background: #fff;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 1em;

}
.list-container{
    margin: 20px 50px 20px;
    padding: 2em;
    background-color: lightgrey;
    border: 1px solid #ccc;
    border-radius: 1em;
}
h2{
    text-align: center;
    color: #474143;
}